:root {
    --gold-color: #e9b44c;
    --dark-blue-color: #2a2c3a;
}

body {
    background-color: var(--dark-blue-color);
    box-sizing: border-box;
}

#home, #contact {
    height: 100vh;
    width: 100vw;
}

#projects {
    height: 100%;
    width: 100%;
}


/* Navbar styling */

nav {
    position: fixed;
    margin: 0;
    padding: 0;
}

.nav-wrapper {
    background-color: var(--dark-blue-color);
    padding: 0 5rem;
}

@media (max-width: 991.98px) { 
    .nav-wrapper {
        padding: 0;
    }
 }


.navbar-option {
    font-weight: 600;
    font-size: large;
}

.navbar-option:hover {
    color: var(--gold-color);
    font-weight: 700;
}

/* About me container */

.about-me-container {
    color: #fff;
    display: flex;
    padding: 1rem 4rem;
}


@media (max-width: 991.98px) { 
    .about-me-container {
        display: block;
    }
}



.about-me-info > h5 {
    color: var(--gold-color);
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}

.my-name, .my-title {
    display: block;
    padding-left: 7rem;
    font-weight: 500;
    text-align: center;
}

.my-name {
    color: var(--gold-color);
    margin: 0;
    padding-top: 7rem;
}

.my-title {
    color: #fff;
    margin-top: 0;
}

.technical-skills {
    font-size: 16px;
    color: #fff;
    padding-left: 2rem;
}

 @media (max-width: 767.98px) { 
    .my-title, .technical-skills {
        padding: 0;
    }
    .my-name {
        padding: 5rem 0 0;
    }
}

.technical-skills > strong {
    color: var(--gold-color);
}

.home-page-img {
    height: 40vh;
}

@media (max-width: 575.98px) { 
    .home-page-img {
       height: 20vh;
    }
}




/* Container for social links - Github and LinkedIn */

.github-linkedin-container {
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}

.github-linkedin-container > a {
    padding: 0 1rem;
    font-size: 3rem;
    color: var(--gold-color);
}

.github-linkedin-container > a:hover {
    color: grey;
} 

/* Projects page styling */

#projects {
    background: var(--gold-color);
    margin-top: 10rem;
    padding-top: 1rem;
}

#projects > h3 {
    text-align: center;
    padding: 3rem 0 1rem;
}

.projects-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projects-flex-container > * {
    width: 26%;
    height: 40%;
    padding-bottom: 5rem;
}

@media (max-width: 991.98px) { 
    .projects-flex-container > * {
        width: 40%;
    }
 }

 @media (max-width: 767.98px) { 
    .projects-flex-container > * {
        width: 55%;
        margin: auto;
        display: inline-table;
        border-bottom: 1px solid var(--dark-blue-color);
    }
  }



.project-pg-image {
    max-width: 300px;
}

.btn-small {
    background-color: var(--dark-blue-color)!important;
    color: var(--gold-color)!important;
}

.btn-small:hover {
    background-color: var(--gold-color)!important;
    color: var(--dark-blue-color)!important;   
}

 @media (max-width: 767.98px) { 
    .btn-small {
        margin:0 5px;
    }
}

/* Contact Page */ 

#contact {
    color: var(--gold-color);
    text-align: center;
    background-color: var(--dark-blue-color);
}


#contact > h3 {
    padding-top: 5rem;
}


.waves-light {
    background-color: var(--gold-color)!important;
} 

.waves-light:hover {
    background-color: var(--dark-blue-color)!important;
    color: var(--gold-color);
}


.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field textarea[type=text]:focus + label {
    color: var(--gold-color) !important;
}

.input-field input[type=text]:focus,
.input-field input[type=email]:focus {
     border-bottom: 1px solid var(--gold-color) !important;
     box-shadow: 0 1px 0 0 var(--gold-color) !important;
     color: var(--gold-color) !important;
}

.input-field textarea[type=text]:focus {
     border-bottom: 1px solid var(--gold-color) !important;
     box-shadow: 0 1px 0 0 var(--gold-color) !important;
     color: var(--gold-color) !important;
}
